{% extends "base.html" %}

{% block content %}

<h2>Add Equipment</h2>

<form method="POST">

    <input
        name="name"
        placeholder="Equipment Name"
        required
    >
    <br><br>

    <input
        name="serial"
        placeholder="Serial Number"
        required
    >
    <br><br>

    <input
        name="department"
        placeholder="Department"
        required
    >
    <br><br>

    <input
        type="date"
        name="purchase_date"
        required
    >
    <br><br>

    <button type="submit">
        Add Equipment
    </button>

</form>

{% endblock %}